$apple-blossom: #aaa;
$alto: #ac4142;
$bouquet: #d0d0d0;
$chelsea-cucumber: #aa759f;
$cod-grey: #90a959;
$conifer: #151515;
$dove-grey: #b5e853;
$gallery: #666;
$grey: #eaeaea;
$gulf-stream: #888;
$hippie-blue: #75b5aa;
$potters-clay: #6a9fb5;
$rajah: #8f5536;
$raw-sienna: #f4bf75;
$silver-chalice: #d28445;